* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
}

#menu {
    position: fixed;
    height: 118px;
    width: 100%;
    background-color: rgba(4, 4, 4, 0.6);
    z-index: 1;
}

.container {
    position: relative;
    height: 100%;
    margin: 0 100px 0 100px;
}

#burger {
    cursor: pointer;
    vertical-align: top;
    margin-top: 40px;
    display: inline-block;
    height: 30px;
}

#burger div:nth-of-type(2) {
    margin-top: 5px;
    margin-left: px;
    height: 2px;
    width: 25px;
    background-color: #B6A27F;
}

#burger div:not(:nth-of-type(2)) {
    margin-top: 5px;
    margin-left: 2px;
    height: 2px;
    width: 20px;
    background-color: #B6A27F;
}

#logo {
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    margin-top: 30px;
    height: 50px;
    width: 120px;
    background-image: url("../images/francek_friseure_text.png");
    background-size: cover;
}

#icons {
    display: inline-block;
    margin-top: 40px;
}

#icons div:first-of-type {
    cursor: pointer;
    display: inline-block;
    height: 25px;
    width: 25px;
    background-image: url("../images/page1.png");
    background-size: cover;
}

#icons div:nth-of-type(2) {
    cursor: pointer;
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-left: 10px;
    background-image: url("../images/time.png");
    background-size: cover;
}

#flex {
    display: flex;
    justify-content: space-between;
}

#under {
    width: 100%;
    height: 118px;
}

section:first-of-type {
    height: 200px;
    width: 100%;
}

.container2 {
    position: relative;
    height: 100%;
    margin: 0 250px 0 250px;
}

.container3 {
    position: relative;
    height: 100%;
    margin: 0 0 0 250px;
}

section:first-of-type .container2 > p:first-of-type {
    opacity: 1;
    cursor: pointer;
    margin-top: 20px;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #B6A27F;
}

section:first-of-type .container2 > p:first-of-type > span {
    cursor: pointer;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #ABABAB;
}

section:first-of-type .container2 > h1 {
    opacity: 0;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-family: Cormorant1, sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #B6A27F;
}

section:first-of-type .container2 > p:nth-of-type(2) {
    opacity: 0;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: #ABABAB;
}

/* de aici poti sterge*/


#appointments > div > div {
    margin-top: 15px;
    opacity: 0;
}


#appointments > div:nth-of-type(1) > div:nth-of-type(1) p {
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #858585;
    display: inline-block;
}

#appointments > div:nth-of-type(1) > div:not(:nth-of-type(1)) p {
    margin-bottom: 10px;
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #ABABAB;
    display: inline-block;
}

.ms {
    width: 26px;
    height: 26px;
    background-color: #101013;
    vertical-align: middle;
    border-radius: 50%;
    /*box-shadow: 0 0 0px 5px black inset;*/
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
}

.ms:checked {
    background-color: #ABABAB;
    box-shadow: 0 0 0px 8px #101013 inset;
}

#appointments > div > div:nth-of-type(2) p {
    width: 33%;
}


#appointments > div > div:nth-of-type(2) input {
    outline: none;
    width: 31.7%;
    height: 40px;
    border: none;
    background-color: #101013;
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #ABABAB;
    display: inline-block;
}

.emTel {
    margin-left: 17px;
}

#appointments > div > div:nth-of-type(3) p {
    width: 49%;
}

#appointments > div > div:nth-of-type(3) select {
    outline: none;
    width: 48.7%;
    height: 40px;
    border: none;
    background-color: #101013;
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #ABABAB;
    display: inline-block;
}

#appointments > div > div:nth-of-type(3) > select:nth-of-type(2) {
    margin-left: 5px;
}

#appointments > div > div:nth-of-type(4) p {
    width: 49%;
}

#appointments > div > div:nth-of-type(4) input {
    outline: none;
    width: 48.7%;
    height: 40px;
    border: none;
    background-color: #101013;
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #ABABAB;
    display: inline-block;
}

#appointments > div > div:nth-of-type(4) select {
    margin-left: 5px;
    outline: none;
    width: 48.7%;
    height: 40px;
    border: none;
    background-color: #101013;
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #ABABAB;
    display: inline-block;
}

#appointments > div > div:nth-of-type(5) p {
    width: 100%;
}

#appointments > div > div:nth-of-type(5) textarea {
    outline: none;
    width: 98%;
    height: 160px;
    border: none;
    background-color: #101013;
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #ABABAB;
}

#appointments > div > div:nth-of-type(6) {
    height: 30px;
}

#appointments > div > div:nth-of-type(6) input {
    width: 20px;
    height: 20px;
    background-color: #858585;
    vertical-align: middle;
    border-radius: 50%;
    /*box-shadow: 0 0 0px 5px black inset;*/
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
}


#appointments > div > div:nth-of-type(6) input:checked {
    background-color: #101013;
    box-shadow: 0 0 0px 5px #858585 inset;
}

#btn {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#galBtn {
    opacity: 0;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
    border: #B6A27F 1px solid;
    width: 222px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#galBtn:hover {
    background-color: #B6A27F;
    color: #1A1A1A;
}

#galBtn p:nth-of-type(1) {
    font-family: "Segoe UI", sans-serif;
    font-weight: lighter;
    font-size: 18px;
    color: #B6A27F;
}

#galBtn div {
    position: absolute;
    right: -40px;
    height: 12px;
    width: 75px;
    background-image: url("../images/Union 2.png");
    background-size: cover;
}

#wrapper {
    overflow: hidden;
}

#pics {
    margin-top: 200px;
    height: 540px;
    width: 120%;
}

#pics>div {
    opacity: 0;
    margin-left: 30px;
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 340px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#pics>div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
}
#pics > div:hover::before {
    opacity: 0.2;
}

#pics > div p {
    position: absolute;
    font-family: Cormorant1, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #B6A27F;
    z-index: 0;
    text-shadow: 3px 2px #1A1A1A;
    text-align: center;
}

#pics div:nth-of-type(1){
    background-image: url("../images/1.png");
    background-size: cover;
    margin-left: 250px;
}

#pics div:nth-of-type(2){
    background-image: url("../images/Francek_Bertold_36.png");
    background-size: cover;
}

#pics div:nth-of-type(3){
    background-image: url("../images/Francek_Rust_5.png");
    background-size: cover;
}

#pics div:nth-of-type(4){
    background-image: url("../images/Francek_BSTR_JOPIXdsc07015.png");
    background-size: cover;
}
#pics div:nth-of-type(5){
    background-image: url("../images/f5.png");
    background-size: cover;
}

#npBtns {
    width: 100%;
}

#prev1, #next1 {
    opacity: 0;
    float: right;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    height: 40px;
    width: 40px;
    background-size: cover;
    margin-top: 50px;
}

#prev1 {
    background-image: url("../images/Group 1098.png");
}

#next1 {
    background-image: url("../images/Group 1097.png");
    margin-left: 20px;
}

#next1:hover {
    filter: brightness(150%);
}

#prev1:hover {
    filter: brightness(150%);
}

#quotes {
    opacity: 0;
    white-space: nowrap;
    margin-top: 200px;
    height: 250px;
    width: 100%;
}


#quotes > div:nth-of-type(1), #quotes > div:nth-of-type(3) {
    display: inline-block;
    height: 100%;
    width: 250px;
}

#prev, #next {
    cursor: pointer;
    user-select: none;
    height: 40px;
    width: 40px;
    background-size: cover;
    margin-top: 50px;
}

#next:hover {
    filter: brightness(150%);
}

#prev:hover {
    filter: brightness(150%);
}

#prev {
    background-image: url("../images/Group 1098.png");
    float: right;
}

#next {
    background-image: url("../images/Group 1097.png");
}

#qCont {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 73%;
    overflow: hidden;
}

#qCont::after {
    height: 200px;
    width: 230px;
    content: "";
    background: url('../images/quote.png');
    background-size: cover;
    opacity: 0.9;
    top: 0;
    left: 42%;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


.qText {
    margin-left: 200px;
    display: inline-block;
    height: 100%;
    width: 330px;
}

.qText1 {

    display: inline-block;
    height: 100%;
    width: 330px;
}

.qText1New {
    margin-left: 200px;
    display: inline-block;
    height: 100%;
    width: 330px;
}

.qTextMinus {
    margin-left: -535px;
    display: inline-block;
    height: 100%;
    width: 330px;
}


#qCont p {
    margin-top: 35px;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #ABABAB;
}

#qCont h1 {
    margin-top: 40px;
    text-align: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ABABAB;
}

.animPrev {
    animation-name: animPrev;
    animation-duration: 1.5s;
    animation-fill-mode: forwards
}


@keyframes animPrev {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -535px;
    }
}

.animNext {
    animation-name: animNext;
    animation-duration: 1.5s;
    animation-fill-mode: forwards
}

@keyframes animNext {
    0% {
        margin-left: -535px;
    }

    100% {
        margin-left: 0;
    }
}

.animPrev1 {
    animation-name: animPrev1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards
}

@keyframes animPrev1 {
    0% {
        margin-left: 250px;
    }

    100% {
        margin-left: 0;
    }
}

.animNext1 {
    animation-name: animNext1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards
}


@keyframes animNext1 {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 250px;
    }
}


/* pana aici xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

.anim1 {
    animation-name: anim1;
    animation-duration: 3s;
    animation-fill-mode: forwards
}

@keyframes anim1 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.anim2 {
    animation-name: anim2;
    animation-duration: 4s;
    animation-fill-mode: forwards
}

@keyframes anim2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.anim3 {
    animation-name: anim3;
    animation-duration: 2s;
    animation-fill-mode: forwards
}

@keyframes anim3 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    margin-top: 150px;
    height: 275px;
    width: 100%;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .container > div {
    display: inline-block;
}

#left {
    opacity: 0;
    width: 420px;
    height: 250px;
}

#left > h1 {
    font-family: Cormorant1, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #B6A27F;
}

#left > p {
    display: inline-block;
    margin-top: 20px;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #ABABAB;
}

#left > div {
    margin-top: 25px;
    display: flex;
    align-items: center;
    height: 46px;
    width: 100%;
    background-color: #101013;
}

#left > div p:first-of-type {
    cursor: pointer;
    margin-left: 10px;
    display: inline-block;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: white;
}

#left > div p:nth-of-type(2) {
    cursor: pointer;
    margin-left: 200px;
    display: inline-block;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #B6A27F;
}

#arrow2 {
    cursor: pointer;
    margin-left: 15px;
    display: inline-block;
    height: 12px;
    width: 75px;
    background-image: url("../images/Union 2.png");
    background-size: cover;
}

#checkbox {
    width: 26px;
    height: 26px;
    background-color: black;
    vertical-align: middle;
    border: 2px solid #ABABAB;
    border-radius: 50%;
    box-shadow: 0 0 0px 5px black inset;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
}

#checkbox:checked {
    background-color: #ABABAB;
}

#logo2 {
    vertical-align: top;
    height: 60px;
    width: 147px;
    background-image: url("../images/francek_friseure_text.png");
}

#right {
    opacity: 0;
    position: relative;
    height: 100%;
    width: 420px;
}

#right p:not(:last-of-type) {
    cursor: pointer;
    margin-top: 15px;
    display: inline-block;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    color: #ABABAB;
}

#right p:nth-of-type(2) {
    margin-left: 240px;
}

#right p:nth-of-type(4) {
    margin-left: 262px;
}

#right p:nth-of-type(6) {
    margin-left: 161px;
}

#right p:last-of-type {
    position: absolute;
    bottom: 100px;
    font-family: "Segoe UI", sans-serif;
    font-size: 11px;
    color: #ABABAB;
}

.anim5 {
    animation-name: anim15;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes anim15 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.anim11 {
    animation-name: anim11;
    animation-duration: 3s;
    animation-fill-mode: forwards
}

@keyframes anim11 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.menuShow {
    display: none;
    opacity: 0;
}

.show {
    position: fixed;
    top: 0;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 1);
    animation-name: menuShow;
    animation-duration: 1000ms;
    animation-fill-mode: forwards
}

@keyframes menuShow {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

.show > p {
    position: relative;
    left: 90%;
    top: 10%;
    user-select: none;
    height: 25px;
    width: 35px;
    cursor: pointer;
    color: #ABABAB;
    text-align: right;
    font-family: "Segoe UI", sans-serif;
}

.show > p:active {
    color: #B6A27F;
    font-weight: bold;
}

#menuItems {
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    color: #ABABAB;
    margin-top: 150px;
    margin-left: 300px;
    display: block;
    height: 600px;
    width: 100%;
}

#menuItems > div:not(:nth-of-type(2)) {
    padding-left: 50px;
    margin-top: 20px;
}

#menuItems > div:not(:nth-of-type(2)):hover {
    color: white;
    cursor: pointer;
}

#menuItems > div:nth-of-type(2) p:hover {
    color: white;
    cursor: pointer;
}

#menuItems > div:nth-of-type(2) {
    width: 100%;
    padding-top: 10px;
    height: 37px;
    display: inline-block;
    overflow: hidden;
    padding-left: 50px;
    margin-top: 15px;
}

.anim32 {
    animation-name: anim13;
    animation-duration: 2s;
    animation-fill-mode: forwards
}

@keyframes anim13 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.anim32Rev {
    animation-name: anim13;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.menuAnim1 {
    animation-name: menuAni;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes menuAni {
    0% {
        background-color: none;
        height: 37px;
    }
    100% {
        background-color: #101029;
        height: 115px;
    }
}

.menuAnim1Rev {
    animation-name: menuAniR;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes menuAniR {
    0% {
        background-color: #101029;
        height: 115px;
    }
    100% {
        background-color: ;
        height: 37px;
    }
}

#menuItems > div:nth-of-type(2) > div > p:not(:first-of-type) {
    margin-top: 5px;
}

#menuItems > div:nth-of-type(2) > p {
    vertical-align: top;
    height: 100%;
    display: inline-block;
}

#menuItems > div:nth-of-type(2) > p:hover {
    color: white;
}


#menuItems > div:nth-of-type(2) > div {
    opacity: 0;
    display: inline-block;
    margin-left: 100px;
}

#menuItems > div:nth-of-type(2) > div:nth-of-type(2) > p:nth-of-type(1) {
    height: 100%;
}


